# PostgreSQL Configuration - Bases de données
POSTGRES_DB_MAIN=base_metier
POSTGRES_DB_USERS=base_utilisateurs

# PostgreSQL Configuration - Superuser (postgres)
POSTGRES_PASSWORD=first_password_here

# PostgreSQL Configuration - Utilisateurs et mots de passe
POSTGRES_USER_APP=user_app
POSTGRES_PASSWORD_APP=second_password_here

POSTGRES_USER_SECURE=user_users
POSTGRES_PASSWORD_SECURE=third_password_here

POSTGRES_USER_MIGR=migr
POSTGRES_PASSWORD_MIGR=fourth_password_here

# Host et port
POSTGRES_HOST=db-main
POSTGRES_PORT=5432

# Security
POSTGRES_INITDB_ARGS=-c shared_preload_libraries=pg_stat_statements -c password_encryption=scram-sha-256

# Backup
PGBACKUP_ENABLED=true
BACKUP_RETENTION_DAYS=30
BACKUP_SCHEDULE="0 2 * * *"